.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 28px;
  min-width: 176px;
  min-height: 52px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-top: 16px;
    min-width: 142px;
    min-height: 42px;
  }
}
