.footer__link {
  margin: 0;
  padding: 0;
  margin-right: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 122%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 16px;
  }
  .footer__link:nth-last-child(1) {
    margin-bottom: 48px;
  }
}
